---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import PostCard from "../components/PostCard.astro";

interface Frontmatter {
  title: string;
  description?: string;
  image?: string;
}

const posts = await Astro.glob<Frontmatter>("./post/*.md");
---

<Layout title="Welcome to Astro.">
  <section class="w-full flex flex-col items-center gap-5 my-20">
    <Profile />
    <h1 class="text-white font-bold text-4xl">Francesco Alterio</h1>
    <h2 class="text-slate-400 font-bold text-2xl">¡Bienvenidos al Blog!</h2>
  </section>
  <section class="flex flex-wrap justify-between gap-8 px-6 sm:px-10">
    {
      posts.map(({ frontmatter, url }) => (
        <PostCard
          title={frontmatter.title}
          description={frontmatter.description}
          image={frontmatter.image}
          url={url}
        />
      ))
    }
    <div class="flex-1 min-w-64 h-0"></div>
    <div class="flex-1 min-w-64 h-0"></div>
  </section>
</Layout>
