---

---

<nav class="w-full max-w-screen-lg flex justify-between items-center py-8">
  <a href="/" class="text-xl font-bold">Francesco Alterio</a>
  <ul class="flex gap-4 justify-center text-slate-400 text-lg font-semibold">
    <li><a href="{{ site.baseurl }}/index.html">Home</a></li>
    <li><a href="{{ site.baseurl }}/about.html">About</a></li>
    <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
  </ul>
  <article class="flex gap-4 bg-inherit">
    <a
      href="https://www.linkedin.com/in/francescoalterio/"
      class="p-2 rounded-full border-2 w-12 h-12 border-white"
      ><div class=""></div></a
    >
    <a
      href="https://www.linkedin.com/in/francescoalterio/"
      class="p-2 rounded-full border-2 border-white w-12 h-12"
      ><div class=""></div></a
    >
  </article>
</nav>
