---
import SocialMediaAnchor from "../components/SocialMediaAnchor.astro";
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
---

<nav
  class="w-full max-w-screen-lg flex justify-between items-center py-8 px-5 md:px-10"
>
  <a href="/" class="text-xl font-bold">Francesco Alterio</a>

  <article class="flex gap-4 bg-inherit">
    <SocialMediaAnchor href="https://www.linkedin.com/in/francescoalterio/">
      <Linkedin className={"w-8"} />
    </SocialMediaAnchor>
    <SocialMediaAnchor href="https://github.com/francescoalterio">
      <Github className={"w-8"} />
    </SocialMediaAnchor>
  </article>
</nav>
